.modal-product {
  background: #ffffff;
  width: 100%;
  height: 100%;
  padding: 32px 10px;
}

.modal-product__container {
  min-width: 300px;
  margin: 0 auto;
}

.modal-product__title {
  font-weight: 600;
  font-size: 28px;
  line-height: 120%;
  margin-bottom: 12px;
}

.modal-product__image {
    width: 100%;
    background-repeat: 16px;
    margin-bottom: 16px;
}

.modal-product__description{
    font-weight: 400;
    font-size: 12px;
    line-height: 130%;
    margin-bottom: 10px;
}

.modal-product__ingredients{
    
}

